@mixin dark-scheme {
    --c-main-background     : rgb(37, 36, 35);

    --c-float-background    : rgb(32, 31, 30);
    --c-secondary-background: rgb(41, 40, 39);

    --c-text-primary        : var(--c-white);

    --c-border              : rgba(255, 255, 255, .18);

    --c-anchor              : rgb(152, 198, 255);
    --c-anchor-hover        : rgb(184, 216, 255);
}

@mixin light-scheme {
    --c-main-background     : var(--c-white);

    --c-float-background    : rgb(252, 252, 252);
    --c-secondary-background: rgb(246, 246, 246);

    --c-text-primary        : rgb(37, 36, 35);

    --c-border              : rgb(238, 238, 238);

    --c-anchor              : rgb(58, 131, 228);
    --c-anchor-hover        : rgb(105, 164, 242);
}

:root {
    @include dark-scheme;

    --c-white           : rgba(255, 255, 255, .95);

    --c-active          : rgb(55, 96, 145);
    --c-active-hover    : rgb(73, 126, 191);

    --c-accent          : rgb(0, 129, 227);
    --c-accent-hover    : rgb(121, 181, 255);

    --c-error           : rgb(227, 0, 0);

    @media (prefers-color-scheme: dark) {
        @include dark-scheme;
    }

    @media (prefers-color-scheme: light) {
        @include light-scheme;
    }
}

html {
    color-scheme: dark light;
}
