:host {
    ul  {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, 15rem);
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            background-color: var(--c-content-background);
            border-radius: var(--border-radius-container);
            box-shadow:
                rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            display: flex;
            flex-direction: column;

            --card-padding: 1rem;
            padding: var(--card-padding);

            > h3 {
                font-weight: 600;
            }

            > img {
                margin:
                    calc(var(--card-padding) * -1)
                    calc(var(--card-padding) * -1)
                    1rem;
                object-fit: cover;
            }

            > div {
                display: flex;
                justify-content: space-between;

                > span {
                    color: var(--c-text-secondary);
                }
            }

            > button {
                margin-top: 1rem;
            }
        }
    }
}
