:host {
    > ul > li.placeholder {
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

    > ul  {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, 15rem);

        > li {  // Card
            --card-padding: 1rem;

            background-color: var(--c-content-background);
            border-radius: var(--border-radius-container);
            box-shadow:
                rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 295px;
            overflow: hidden;
            padding: var(--card-padding);

            > h3 {
                color: var(--c-anchor);
                font-weight: 600;
                margin-bottom: 1rem;
            }

            > img {
                margin:
                    calc(var(--card-padding) * -1)
                    calc(var(--card-padding) * -1)
                    1rem;
                object-fit: cover;
            }

            > div {
                display: flex;
                justify-content: space-between;

                > span {
                    color: var(--c-text-secondary);
                }
            }

            > button {
                margin-top: 1rem;
            }

            > ul { // Vehicle details
                display: grid;
                grid-gap: 1rem;

                > li {
                    background-color: var(--c-secondary-background);
                    border: 1px solid var(--c-border);
                    border-radius: var(--border-radius);
                    padding: .5rem 1rem;
                }
            }
        }
    }
}
