<ul>
    <li *ngFor="let vehicle of vehicles$$(); index">
        <ng-container *ngIf="!vehicle.showDetails; else details">
            <img
                src="./assets/images/car-placeholder.png"
                [alt]="
                    vehicle.brand + ' ' + vehicle.model + ' picture'
                ">

            <h3>{{ vehicle.brand }} {{ vehicle.model }}</h3>
            <div>
                <span>{{ vehicle.specs.engine }}</span>
                <span>{{ vehicle.factoryYear }}/{{ vehicle.modelYear }}</span>
            </div>
        </ng-container>

        <ng-template #details>
            <h3>{{ vehicle.brand }} {{ vehicle.model }}</h3>
            <ul>
                <li>
                    <p>Plate:</p>
                    <span class="ivt-secondary">{{ vehicle?.adm?.plate }}</span>
                </li>
                <li>
                    <p>Chassi:</p>
                    <span class="ivt-secondary">{{ vehicle?.adm?.chassi }}</span>
                </li>
                <li>
                    <p>Renavam:</p>
                    <span class="ivt-secondary">{{ vehicle?.adm?.renavam }}</span>
                </li>
            </ul>
        </ng-template>

        <button
            iv-button="secondary"
            type="button"
            (click)="toggleDetails(vehicle)">

            {{ vehicle?.showDetails ? 'Overview' : 'Details' }}
        </button>
    </li>

    <li *ngFor="let number of placeholders$$()" class="placeholder">
        <p>Loading vehicle...</p>
    </li>
</ul>
