<ul>
    <li *ngFor="let vehicle of vehicles; index">

        <ng-container *ngIf="!vehicle.showDetails; else details">
            <img
                src="./assets/images/car-placeholder.png"
                [alt]="
                    vehicle.brand + ' ' + vehicle.model + ' picture'
                ">

            <h3>{{ vehicle.brand }} {{ vehicle.model }}</h3>
            <div>
                <span>{{ vehicle.specs.engine }}</span>
                <span>{{ vehicle.factoryYear }}/{{ vehicle.modelYear }}</span>
            </div>
        </ng-container>

        <ng-template #details>
            <p>DETALHES >>> {{ vehicle.brand }} {{ vehicle.model }}</p>
        </ng-template>

        <button
            iv-button="secondary"
            type="button"
            (click)="toggleDetails(vehicle)">

            {{ vehicle?.showDetails ? 'Overview' : 'Details' }}
        </button>
    </li>
</ul>
