:host {
    background-color: var(--c-float-background);
    border-bottom: solid 1px var(--c-border);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    user-select: none;

    > menu {
        display: flex;
        position: relative;

        > li {
            a {
                display: block;
                padding: 1rem;

                &:hover {
                    background-color: var(--c-secondary-background);
                }

                &.active {
                    background-color: var(--c-active);
                    color: var(--c-text-primary);

                    @media (prefers-color-scheme: light) {
                        color: white;
                    }

                    &:hover {
                        background-color: var(--c-active-hover);
                    }
                }
            }
        }
    }
}
