:host {
    background-color: var(--float-background-color);
    border-bottom: solid 1px var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    user-select: none;

    menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    > menu {
        display: flex;
        position: relative;

        > li {
            a {
                display: block;
                padding: 1rem;

                &:hover {
                    background-color: var(--secondary-background-color);
                }

                &.active {
                    background-color: var(--active-color);
                    color: var(--text-primary-color);

                    &:hover {
                        background-color: var(--active-hover-color);
                    }
                }
            }
        }
    }
}
